<p style="color: green"><%= notice %></p>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <%= simple_form_for :search, url: search_path, method: :get do |f| %>
    <%= f.input :query, label: false, placeholder: "Search" %>
    <%= f.button :submit, "Search" %>
  <% end %>
  </div>
</nav>

<h1>Flats</h1>

<div id="flats" class="cards">
  <% @flats.each do |flat| %>
    <%= render flat %>
  <% end %>
</div>

<%= link_to "New flat", new_flat_path %>
